<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>历史上传 - {{.config.Title}}</title>
    <link rel="stylesheet" href="/public/static/zui/css/zui.min.css">
    <link rel="stylesheet" href="/public/static/EasyImage.css">
    {{vite "web/src/entries/admin.ts"}}
</head>
<body>
    <div id="admin-app"></div>
    <script>
        window.EasyImageAdmin = {{json_script .admin}};
    </script>
</body>
</html>
